@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  font-family: 'Patrick Hand', cursive;
}


.sketch {
  border: 2px solid black;
  border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}